.content__place_text-length_long {
    margin-bottom: 80px;
}

@media screen and (max-width: 768px) {
  .content__place_text-length_long {
    margin-bottom: 72px;
  }
}

@media screen and (max-width: 320px) {
  .content__place_text-length_long {
    margin-bottom: 50px;
  }
}