.cover__subtitle {
    margin: 0 0 32px 0;
    padding: 0;
    max-width: 280px;
    text-align: center;
    font-size: 18px;
    line-height: 22px;

}

@media screen and (max-width: 320px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 16px;
    max-width: 200px;
  }
}