.content__place {
    margin: 92px auto 80px auto;
}

@media screen and (max-width: 768px) {
  .content__place {
    margin: 88px 24px 72px 24px;
  }
}

@media screen and (max-width: 520px) {
  .content__place {
    margin: 62px 0 64px 0;
  }
}