.content__photo-grid {
    margin: 0 auto 92px auto;
}

@media screen and (max-width: 768px) {
  .content__photo-grid {
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 320px) {
  .content__photo-grid {
    margin-bottom: 62px;
  }
}