.place__website-artist {
    color: #FFFFFF;
    font-size: 18px;
    line-height: 1.2;
    text-decoration: none;
    transition: opacity 0.4s ease-out;
}

.place__website-artist:hover {
  opacity: 0.5;
}