.content__intro {
    margin: 92px 347px 118px 148px ;
}

@media screen and (max-width: 768px) {
  .content__intro {
    margin: 88px 24px 90px;
  }
}

@media screen and (max-width: 320px) {
  .content__intro {
    margin: 64px 16px 90px;
  }
}