.place {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 40px;
    grid-row-gap: 48px;
    max-width: calc(100% - 2 * 24px);
}

@media screen and (max-width: 520px) {
  .place{
    grid-template-columns: 1fr;
    width: 100%;
    margin-bottom: 64px;
  }
}
