.place {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: min-content min-content 1fr;
    column-gap: 40px;
    row-gap: 48px;
}


@media screen and (max-width: 768px) {
  .place {
    column-gap: 28px;
  }
}

@media screen and (max-width: 520px) {
  .place {
    column-gap: 28px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    row-gap: 30px;
  }
}
