.button {
  text-decoration: none;
  color: #FFFFFF;
  background-color:#0278FE;
  max-width: 248px;
  max-height: 48px;
  border-radius: 4px;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  line-height: 21.78px;
  padding-top: calc((48px - 21.78px) / 2);
  padding-bottom: calc((48px - 21.78px) / 2);
  transition: background-color 0.3s ease-out;
  padding-right: 20px;
  padding-left: 20px;
  box-sizing: border-box;
}

.button:hover {
  background-color: #0063D2;
}

@media screen and (max-width: 571px) {
  .button {
    max-height: calc(21.78px * 2);
    box-sizing: content-box;
  }
}

@media screen and (max-width: 421px) {
  .button {
    max-height: calc(21.78px * 3);
  }
}
@media screen and (max-width: 320px) {
  .button {
    max-width: calc(100% - 2 * 16px);
    margin: auto;
    padding-right: 40px;
    padding-left: 40px;
  }
}